@import './vars.scss';

@mixin container() {
  width: 100%;
  margin-inline: auto;
  box-sizing: border-box;

  @include bp-max(md) {
    padding-inline: 16px;
  }
  @include bp-min(md) {
    padding-inline: 36px;
  }
  @include bp-min(xxxl) {
    padding-inline: 9.9%;
  }

}