@import '@/styles/helpers/vars.scss';

.wrap {
  width: 100%;
  cursor: ew-resize;

  &.bottom {
    padding: 40px 0;
    @include bp-min(xl) {
      padding: 80px 0;
    }
  }

  &.top {
    padding: 88px 0 40px;

    @include bp-min(md) {
      padding-top: 102px;
    }

    @include bp-min(xl) {
      padding: 142px 0 80px;
    }
  }

  &.light {
    background-color: $light;
  }

  &.dark {
    background-color: $black;

    .item {
      &:not(.active) {
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: $white;
        &:hover {
          -webkit-text-stroke-width: 0;
          color: $white;
        }
        &:active {
          color: $orange;
          -webkit-text-stroke-width: 0;
          -webkit-text-stroke-color: $orange;
        }
      }
    }
  }
}

.track {
  display: flex;
  gap: 48px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: max-content;

  @include bp-min(md) {
    padding-left: 36px;
    padding-right: 36px;
  }

  @include bp-min(xl) {
    gap: 60px;
  }

  .item {
    color: $white;
    font-family: $secondaryFont;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    @include bp-min(xl) {
      font-size: 42px;
    }

    &:not(.active) {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $gray-1;
      color: transparent;
      transition: color 0.3s ease;
      &.link {
        &:hover {
          -webkit-text-stroke-width: 0;
          color: $black;
        }
        &:active {
          color: $orange;
          -webkit-text-stroke-width: 0;
          -webkit-text-stroke-color: $orange;
        }
      }
    }
  }

  .active {
    color: $orange;
    cursor: default;
    &.link {
      cursor: ew-resize;
    }
  }

  .link {
    cursor: pointer;
  }
}
