@import '@/styles/helpers/vars.scss';

.wrap {
  width: 100%;
  padding: 16px 0;
  cursor: ew-resize;
  &.light {
    background-color: $light;
    .item {
      color: $gray-2;
      &.active {
        color: $black;
        border-color: $black;
      }
      &:not(.active) {
        &:hover {
          color: $black;
        }
      }
    }
  }

  &.dark {
    background-color: $black;
    border-top: 1px solid $gray-1;

    .item {
      color: $gray-1;
      &.active {
        color: $white;
        border-color: $white;
      }
      &:not(.active) {
        &:hover {
          color: $white;
        }
      }
    }
  }
}

.track {
  display: flex;
  gap: 8px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: max-content;

  @include bp-min(md) {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.item {
  font-family: $secondaryFont;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 400;
  border: 1px solid transparent;
  padding: 5px 8px 4px;
  border-radius: 30px;
  cursor: pointer;
}

.active {
  cursor: ew-resize;
}
