@import '@/styles/helpers/vars';
@import '@/styles/helpers/mixins';
.section {
  background-color: $white;
  @include container();

  h2 {
    @include bp-max(md) {
      margin-bottom: 50px;
    }
    @include bp-min(md) {
      margin-bottom: 48px;
    }
    @include bp-max(xl) {
      text-align: center;
    }
    @include bp-min(xl) {
      margin-bottom: 51px;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 16px;

  @include bp-max(md) {
    .card {
      grid-column: span 10;
    }
  }
  @include bp-min(md) {
    .card {
      grid-column: span 5;
    }
  }
  @include bp-min(xl) {
    .card:nth-child(4n + 1) {
      grid-column: span 6;
    }
    .card:nth-child(4n + 2) {
      grid-column: span 4;
    }
    .card:nth-child(4n + 3) {
      grid-column: span 4;
    }
    .card:nth-child(4n) {
      grid-column: span 6;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 20px;
  background-color: $white1;

  @include bp-max(md) {
    padding: 20px;
    .text {
      padding: 4px;
    }
    gap: 16px;
    h3 {
      margin-bottom: 4px;
    }
  }
  @include bp-min(md) {
    padding: 24px;
    .text {
      padding: 12px;
    }
    gap: 16px;
    h3 {
      margin-bottom: 8px;
    }
  }
  @include bp-min(xl) {
    gap: 24px;
    h3 {
      margin-bottom: 16px;
    }
  }
  @include bp-min(xxl) {
    .text {
      padding: 24px;
    }
  }
  @include bp-min(xxxl) {
    .text {
      padding: 36px;
    }
  }
  &:nth-child(4n + 1),
  &:nth-child(4n) {
    @include bp-min(xl) {
      padding: 48px;
      .text {
        padding: 0;
      }
    }
    @include bp-min(xxl) {
      .text {
        padding: 12px;
      }
    }
  }

  &:nth-child(4n + 2) {
    @include bp-min(md) {
      .img-desktop,
      .img-mobile {
        order: -1;
      }
    }
  }
  &:nth-child(4n +3){
    @include bp-min(xl) {
      padding-bottom: 48px;
    }
  }
  &:nth-child(4n) {
    background-image: url(./assets/images/pattern.svg);

    background-repeat: no-repeat;
    @include bp-max(md) {
      background-size: 110%;
      background-position: -130% 130%;
    }
    @include bp-min(md) {
      background-size: 70%;
      background-position: right bottom;
    }
  }

  h3 {
    color: $orange;
  }

}
.text {
  p {
    max-width: 630px;
  }
}
.img-desktop {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
  @include bp-max(xl) {
    display: none;
  }
}
.img-mobile {
  width: 100%;
  object-fit: contain;
  object-position: center;
  @include bp-min(xl) {
    display: none;
  }
}
