@import '@/styles/helpers/vars.scss';
@import '@/styles/helpers/mixins.scss';

$gapL: 40px; // xxxl
$gapM: 30px; // xxxl - xl
$gapS: 20px; // xl - 0

$bRadius: 16px;
.section {
  overflow: hidden;
  background-color: $white;

  @include bp-max(md) {
    //aspect-ratio: 1 / 3.2;
    height: 250dvh;
  }

  @include bp-min(md) {
    height: 651px;
  }
  @include bp-min(xxl) {
    height: 816px;
  }
  @include bp-min(xxxl) {
    height: 982px;
  }
}

.parallax {

  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: fit-content;

  @include bp-min(md) {
    grid-template-columns: 1fr 580px 1fr;
    display: grid;
    align-items: center;
  }

  @include bp-max(xl) {
    gap: $gapS;
  }
  @include bp-min(xl) {
    grid-template-columns: 1fr 676px 1fr;
    gap: $gapM;
  }
  @include bp-min(xxxl) {
    grid-template-columns: 1fr 916px 1fr;
    gap: $gapL;
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  @include bp-max(xl) {
    gap: $gapS;
  }
  @include bp-min(xl) {
    gap: $gapM;
  }
  @include bp-min(xxxl) {
    gap: $gapL;
  }

  &-container {
      display: none;
    //@include bp-max(md) {
    //}
    @include bp-min(md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      //flex-direction: column;
      justify-content: center;
      align-items: stretch;
    }
    @include bp-max(xl) {
      gap: $gapS;
    }
    @include bp-min(xl) {
      gap: $gapM;
    }
    @include bp-min(xxxl) {
      gap: $gapL;
    }
  }

  h2 {
    position: relative;
    grid-column: span 2;
    padding: 16px;
    border-radius: 8px;
    background-color: rgba(255,255,255, .75);
    backdrop-filter: blur(10px);
    text-align: center;
    z-index: 2;
    span {
      color: $orange;
    }
  }

  .img{
    width: 100%;
    &:nth-child(1),
    &:nth-child(2) {
      margin-top: auto;
    }
  }
}

.item {
  position: relative;
  overflow: hidden;
}
.img {
  border-radius: $bRadius;
  overflow: hidden;
  object-fit: cover;
  border: 8px solid $white2;
}
.curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  z-index: 1;
}

.left,
.right {
    display: none;
  //@include bp-max(md) {
  //}
  @include bp-min(md) {
    display: grid;
  }
  @include bp-max(xl) {
    grid-template-columns: repeat(2, 189px);
    gap: $gapS;
  }
  @include bp-min(xl) {
    grid-template-columns: repeat(2, 255px);
    gap: $gapM;
  }
  @include bp-min(xxxl) {
    grid-template-columns: repeat(2, 322px);
    gap: $gapL;
  }
}

  @include bp-max(xl) {
    .left > div:nth-child(odd),
    .right > div:nth-child(even) {
      translate: 0 calc(50% + $gapS / 2);
    }
  }
  @include bp-min(xl) {
    .left > div:nth-child(odd),
    .right > div:nth-child(even) {
      translate: 0 calc(50% + $gapM / 2);
    }
  }
  @include bp-min(xxxl) {
    .left > div:nth-child(odd),
    .right > div:nth-child(even) {
      translate: 0 calc(50% + $gapL / 2);
    }
  }

.mobile-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gapS;
    & > div:nth-child(3n + 1) {
      grid-column: span 2;
    }
  //@include bp-max(md) {
  //}
  @include bp-min(md) {
    display: none;
  }
}
