@import '@/styles/helpers/vars.scss';

.container {
  background-color: $white2;
  position: relative;
  z-index: -1;
}

.wrapper {
  background-color: $white2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 48px;
  padding: 48px 16px;
  will-change: transform;

  @include bp-min(md) {
    gap: 64px;
    padding: 48px 36px;
  }

  @include bp-min(xxl) {
    gap: 80px;
    padding: 80px 36px;
  }

  @include bp-min(xxxl) {
    padding: 80px 191px;
  }
}

.heading {
  flex: 1;

  .desc {
    margin-top: 16px;
  }

  .social {
    margin-top: 51px;
  }
}

.desc {
  color: $gray-2;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 36px;

  @include bp-min(md) {
    flex-direction: row;
    gap: 16px;
  }

  @include bp-min(xxxl) {
    gap: 100px;
  }
}

.accept {
  font-family: $thirdFont;
  font-size: 12px;
  line-height: 1.2;
  color: $black;
  opacity: .5;
  font-weight: 400;
  a {
    color: $thirdFont;
    text-decoration: none;
  }
}
.form {
  flex: 1;

  @include bp-max(md) {
    gap: 10px;
  }
  @include bp-min(md) {
    gap: 24px;

    .form__body {
      gap: 16px;
    }
    
    .form__btn {
      gap: 8px;
    }
  }

  @include bp-min(lg) {
    max-width: 100%;
  }

  @include bp-min(xxl) {
    gap: 16px;
  }

  .form__footer {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    @include bp-max(xl) {
      flex-direction: column;
    }
    button.btn {
      border-radius: 16px;
      font-size: 16px;
      font-family: $secondaryFont;
      padding: 16px 35px;
      line-height: 1;
      &:disabled {
        opacity: 1;
      }
    }
  }

  @include bp-min(xl) {
    .form__footer {
      flex-direction: row;
      justify-content: space-between;
      
      .form__group {
        max-width: max-content;
      }
      
      .btn {
        font-size: 16px;
        line-height: 20px;
        padding: 7px 20px;
        max-width: 100%;
        min-width: auto;
      }
    }
    .form__attachment .form__input-label {
      font-size: 16px;
      line-height: 24px;
    }
    .form__btn {
      max-width: 240px;
      align-self: flex-end;
    }
  }
}

.form__file-container {
  @include bp-min(xl) {
    height: 52px;
    display: flex;
    align-items: center;
  }
}

.emails {
  @include bp-min(md) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.social {
  display: none;
  gap: 12px;
  @include bp-min(md) {
    display: flex;
    gap: 20px;
  }
  @include bp-min(xxl) {
    flex-direction: row;
    gap: 37px;
  }
}

.subtitle {
  @include bp-min(md) {
    display: none;
  }
}

.bottom {
  display: grid;
  gap: 36px;
  .contacts {
    display: grid;
    gap: 36px;
  }
  .social {
    display: flex;
    @include bp-min(md) {
      display: none;
    }
  }
}
