@import '@/styles/helpers/vars.scss';

.wrap {
  //background-color: $white;
  color: $black;
  text-decoration: none;
  position: relative;
  z-index: 1;
  will-change: transform;
  cursor: none;
  pointer-events: all;
  border-radius: 20px;
  overflow: hidden;
  backdrop-filter: blur(0px);

  &.dark {
    //background-color: $black;
  }
}

.inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.imgInner {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  img {
    object-fit: cover;
    object-position: center;
    min-height: 100%;
    will-change: transform;
    min-width: 100%;
  }
}

.content {
  width: 100%;
  background-color: rgba($black, 0.01);
  backdrop-filter: blur(2px);
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
  transform: translateZ(0) perspective(1px);
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  position: relative;
  margin-top: auto;

  @include bp-min(lg) {
    padding: 36px 16px;
  }
}

.label {
  @include bp-max(xl) {
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 50px;
    padding: 3px 12px;
    background-color: $orange;
    font-family: $baseFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
    color: $white3;
  }
  @include bp-min(xl) {
    display: none;
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  @include bp-max(xl) {
    flex-wrap: wrap;
  }
}

.title {
  font-family: $secondaryFont;
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  //flex: 1 0 auto;
  flex-grow: 1;
  font-weight: 700;
  margin: 0;

  &.light {
    color: $light;
  }
  &.dark {
    color: $black;
  }

  @include bp-max(sm) {
    font-size: 18px;
  }
  @include bp-min(sm) {
    font-size: 20px;
  }

  &::before,
  &::after {
    background-color: currentColor;
    content: '';
    height: 1px;
  }

  &::before {
    flex: 0 0 16px;

    @include bp-max(xl) {
      display: none;
    }
  }

  &::after {
    flex: 1 0 auto;
  }

  span {
    max-width: 196px;
    flex: 0 0 auto;

    @include bp-min(sm) {
      max-width: 202px;
    }

    @include bp-min(md) {
      max-width: 246px;
    }
    
    @include bp-min(xxl) {
      max-width: 100%;
    }
  }
}

.tags {
  flex-wrap: wrap;
  flex: 1 0 100%;

  @include bp-min(xl) {
    flex: 0 0 auto;
  }
}

.desc {
  font-family: $thirdFont;
  font-size: 18px;
  margin-left: 32px;
  max-width: 493px;

  &.light {
    color: $light;
  }
  &.dark {
    color: $black;
  }
  
  @include bp-max(xl) {
    display: none;
    max-width: 500px;
  }
}

.caseLight {
  color: $light;

  .title {
    &::before,
    &::after {
      background-color: $light;
    }
  }

  .tags {
    li {
      background-color: rgba($white, 0.4);
    }
  }
}
