@import '@/styles/helpers/vars.scss';

.wrap {
  overflow: hidden;

  &.light {
    background-color: $light;
  }

  &.dark {
    background-color: $black;
  }

  &.full {
    width: 100%;
    // aspect-ratio: 16/9;
    img {
      display: block;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  &:not(.full) {
    padding: 60px 16px;
    display: grid;
    justify-items: center;

    @include bp-min(sm) {
      padding: 48px 16px;
    }
    
    @include bp-min(md) {
      padding: 100px 36px;
    }
    
    @include bp-min(xl) {
      padding: 120px 36px;
    }
    
    @include bp-min(xxxl) {
      padding: 120px 191px;
    }
  }

  .image {
    position: relative;
    border: 1px solid $gray-1;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
  
    @include bp-min(sm) {
      border-radius: 12px;
    }
    @include bp-min(md) {
      border-width: 1.6px;
      border-radius: 16px;
    }
    @include bp-min(lg) {
      border-width: 2px;
      border-radius: 20px;
    }
  
    @include bp-min(xl) {
      border-radius: 24px;
    }
  
    @include bp-min(xxl) {
      border-width: 4px;
      border-radius: 40px;
    }
  
    img {
      display: block;
      width: 100%;
    }
  }
}
