@import '@/styles/helpers/vars.scss';

.email {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	width: max-content;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.label {
  font-family: $thirdFont;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: $gray-2;
  
  @include bp-min(xxl) {
    font-size: 18px;
    line-height: 1.4;
  }
}

.link {
  font-family: $secondaryFont;
  font-weight: 400;
  color: $black;
  line-height: 1.2;
  font-size: 18px;

  @include bp-min(md) {
    font-size: 24px;
  }

  @include bp-min(xl) {
    font-size: 36px;
  }
  &:hover {
    color: $orange;
  }
}
