@import '@/styles/helpers/vars';
@import '@/styles/helpers/mixins';
.section {
  // min-height: 100vh;
  background-color: $white;
  height: 200vh;
  @include container();
  padding-top: 120px;
  padding-bottom: 120px;

  @include bp-min(xxxl) {
    padding: 120px 12%;
  }

  h2 {
    margin-bottom: 60px;
    text-align: center;
    span {
      color: $orange;
    }
  }
}
.inner {
  height: 100vh;
}

.container {
  position: relative;
}
.card, .card-last{
  text-align: center;
  position: absolute;
  left: 50%;
  translate: -50%;
  width: 30%;
}

.label,
.label-new,
.label-last,
.finish-labels {
  position: relative;
  display: inline-block;
  padding: 16px 24px;
  margin-bottom: 60px;
  border-radius: 3em;
  background-color: $peach;
  font-family: $secondaryFont;
  color: $black;
  font-size: 24px;
  white-space: nowrap;
  border: 1px solid $peach;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 16px;
    height: 16px;
    translate: -50% 50%;
    rotate: 45deg;
    background-color: $peach;
  }
  box-sizing: border-box;
}

.label-new {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  z-index: 10;
  overflow: hidden;
}
.img {
  position: relative;
  width: 100%;
   padding-top: 100%;
}
.circle,
.orange {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.circle {
  stroke-width: 5px;
}

.orange {
  stroke-width: 6px;
  stroke-dasharray: calc(3.5 * 100% / var(--length)) calc(3.5 * 100%);
  animation: rotateAnimation 2.5s infinite linear 0.5s;
}

@keyframes rotateAnimation {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

.finish-labels {
  background-color: transparent;
  position: absolute;
  margin: 0;

  &:nth-child(1) {
    left: 100%;
    bottom: 75%;
  }
  &:nth-child(2) {
    left: 100%;
    top: 70%;
  }
  &:nth-child(3) {
    left: 50%;
    top: calc(100% + 24px);
    translate: -50% 0;
  }
  &:nth-child(4) {
    right: 100%;
    top: 70%;
  }
  &:nth-child(5) {
    right: 100%;
    bottom: 75%;
  }

  &:before {
    display: none;
  }
  &-container {
    position: absolute;
    bottom: 6px;
    left: 50%;
    translate: -50% 0;
    width: 100%;
    height: 0;
    padding-top: 100%;
  }
}