@import '@/styles/helpers/vars.scss';
.section {
  background-color: $white;
  font-weight: 400;

  @include bp-max(md) {
    padding: 48px 16px;
  }
  @include bp-min(md) {
    padding: 60px 36px;
  }
  @include bp-min(xl) {
    padding: 60px 130px;
  }
  @include bp-min(xl) {
    padding: 60px 130px;
  }
  @include bp-min(xxl) {
    padding: 120px 151px;
  }
}

.container {
  margin-inline: auto;
  background-color: $white1;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;

  font-family: $thirdFont;
  font-size: 18px;
  line-height: 140%;
  @include bp-max(md) {
    padding: 16px;
    gap: 18px;
  }
  @include bp-min(md) {
    padding: 36px;
    gap: 24px;
  }
  @include bp-min(xl) {
    gap: 22px;
  }
  @include bp-min(xxl) {
    padding: 48px;
    gap: 36px;
  }
  @include bp-min(xxl) {
    max-width: 1226px;
    margin-inline: auto;
  }
}

.heading {
  --buttons: 1;
  display: flex;
  padding: 8px;
  background-color: $white;
  border-radius: 16px;
  position: relative;

  &-bg {
    position: absolute;
    width: calc((100% - 16px) / var(--buttons));
    height: calc(100% - 16px);
    background-color: $peach;
    border-radius: 8px;
  }
  &-btn {
    position: relative;
    flex: 0 0 calc(100% / var(--buttons));
    line-height: 125%;
    font-family: $secondaryFont;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: transparent;
    color: $black;
    cursor: pointer;
    font-weight: 400;
    z-index: 1;

    @include bp-max(md) {
      font-size: 14px;
      padding: 16px 12px;
    }
    @include bp-min(md) {
      font-size: 16px;
      padding: 18px 12px;
    }
  }
}

.content {
  padding: 48px 36px;
  background-color: $white;
  border-radius: 16px;

  @include bp-max(md) {
    padding: 38px 12px;
  }
  @include bp-min(md) {
    padding: 48px 36px;
  }

  @include bp-min(xxl) {
    background-image: url("./assets/img/bg.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
  }

  &__title {
    color: $black;
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 4px;
    max-width: 33em;

    @include bp-max(md) {
      font-size: 18px;
    }
    @include bp-min(md) {
      font-size: 22px;
    }
    @include bp-min(xl) {
      font-size: 24px;
    }
  }

  &__description {

    @include bp-max(md) {
      font-size: 16px;
      margin-bottom: 1.3em;
    }
    @include bp-min(md) {
      font-size: 18px;
      margin-bottom: 2em;
    }
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    max-width: 750px;
  }

  &__item {
    display: flex;
    align-items: stretch;
    gap: .7em;

    @include bp-max(md) {
      font-size: 16px;
      line-height: 140%;
    }
    @include bp-min(md) {
      font-size: 18px;
    }
    &:not(:last-child) {
      margin-bottom: 1.3em;
    }

    &-img {
      flex: 0 0 auto;
      border-radius: 50%;
      background-color: $peach;
      background-position: center;
      background-size: 1em;
      background-repeat: no-repeat;
      &-watch {
        background-image: url('/assets/images/svg/watch.svg');
      }
      &-book {
        background-image: url('/assets/images/svg/book.svg');
      }

      @include bp-max(md) {
        width: 24px;
        height: 24px;
      }
      @include bp-min(md) {
        width: 28px;
        height: 28px;
      }
    }
    &-text {
      &-bold {
        font-weight: 700;
      }
    }
  }
}

.advanced {

  @include bp-max(md) {
  }
  @include bp-min(md) {
    padding: 12px 36px;
  }

  @include bp-min(xl) {
    @include bp-max(xxl) {
      background-image: url("./assets/img/bg.svg");
      background-position: right bottom;
      background-repeat: no-repeat;
    }
  }

  &__title {
    margin-top: 0;
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */

    @include bp-max(md) {
      font-size: 16px;
      margin-bottom: 1.2em;
    }
    @include bp-min(md) {
      font-size: 18px;
      margin-bottom: 2em;
    }
    @include bp-min(xl) {
      font-size: 20px;
    }
  }
  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 20px;

    @include bp-min(xxl) {
      grid-template-columns: 1fr 1fr;
      gap: 24px 20px;
    }
  }
  &__item {
    display: flex;
    gap: .5em;

    &:not(:last-child) {
      margin-bottom: 20px;
      @include bp-min(xxl) {
        margin-bottom: 24px;
      }
    }

    @include bp-max(md) {
      font-size: 16px;
    }
    @include bp-min(md) {
      font-size: 18px;
      align-items: center;
    }

    &-img {
      flex: 0 0 auto;
      border-radius: 50%;
      background-image: url('/assets/images/svg/check.svg');
      background-color: $peach;
      background-position: center;
      background-size: 1em;
      background-repeat: no-repeat;
      @include bp-max(md) {
        width: 24px;
        height: 24px;
      }
      @include bp-min(md) {
        width: 28px;
        height: 28px;
      }
    }
  }
}

.btn{

  border-radius: 16px;
  background-color: $orange;
  color: $white;
  font-family: $secondaryFont;
  font-size: 20px;
  line-height: 120%; /* 24px */
  border: 1px solid $orange;
  transition: background-color .2s;
  cursor: pointer;

  @include bp-max(md) {
    font-size: 16px;
    padding: 16px 24px;
  }
  @include bp-min(md) {
    font-size: 18px;
    padding: 20px 48px;
  }
  @include bp-min(xl) {
    font-size: 20px;
  }

  &:hover {
    background-color: $orange--hover;
  }
  &:focus {
    background-color: $orange--hover;
    box-shadow: 0 0 0 1px $white-hover;
  }
}