@import '/src/styles/helpers/vars';
@import '/src/styles/helpers/mixins';
.section {
  background-color: $white;
  @include container;

  @include bp-max(xl) {
    padding-top: 60px;
    padding-bottom: 60px;
    & h2 {
      text-align: center;
      margin-bottom: 36px;
    }
  }
  @include bp-min(xl) {
    padding-top: 120px;
    padding-bottom: 120px;
    & h2 {
      margin-bottom: 48px;
    }
  }
}

.promo-materials-page {
  &.section {
    background-color: $white1;
  }
}