@import '@/styles/helpers/vars';

.wrapper {
  background-color: $black;
  color: $light;
}

.inner {
  display: grid;
  gap: 24px;
  padding: 48px 16px 24px;

  @include bp-min(md) {
    gap: 48px;
    padding: 80px 36px 40px;
  }

  @include bp-min(xl) {
    align-items: center;
    gap: 60px;
    padding: 80px 36px 40px;
  }

  @include bp-min(xxl) {
    grid-template-columns: auto 735px;
    gap: 48px;
    adding: 120px 36px 60px;
  }

  @include bp-min(xxxl) {
    grid-template-columns: repeat(2, 1fr);
    padding: 120px 191px 60px;
  }
}

.grid {
  display: grid;
  max-width: 1128px;

  @include bp-min(md) {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
  }

  @include bp-min(xl) {
    margin-left: auto;
    margin-right: auto;
  }
  
  @include bp-min(xxl) {
    min-width: 680px;
  }
}

.column {
  border-left: 1px solid #333333;

  @include bp-min(md) {
    border-left: 0;
  }
  
  .item {
    padding: 24px 16px;
    border-bottom: 1px solid #333333;
    @include bp-min(md) {
      position: relative;
      padding: 36px;
      border: 0;
      &::before, &::after {
        position: absolute;
        transition: height .3s ease, width .3s ease;
      }
    }
  }

  &:last-child {
    .item {
      &:last-child {
        border-bottom: 0;
      }
    }

    @include bp-min(md) {
      .item {
        &:first-child {
          &::before {
            background-color: #333333;
            content: '';
            bottom: 0;
            width: 100%;
            height: 1px;
            left: 0;
          }
        }
      }
    }
  }

  &:first-child {
    @include bp-min(md) {
      .item {
        &::after {
          background-color: #333333;
          content: '';
          height: 100%;
          width: 1px;
          right: 0;
        }
        &:first-child {
          &::before {
            background-color: #333333;
            content: '';
            width: 100%;
            height: 1px;
            right: 0;
            bottom: 0;
          }
          &::after {
            bottom: 0;
          }
        }
        &:last-child {
          &::after {
            top: 0;
          }
        }
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include bp-min(md) {
    gap: 16px;
  }
}

.name {
  color: $mint;
}
