@import '@/styles/helpers/vars.scss';

.email {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  @include bp-max(md) {
    flex-direction: column;
  }
  @include bp-min(md) {
    justify-content: space-between;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: $gray-2;

  @include bp-min(md) {
    font-size: 12px;
    line-height: 1.5;
  }
  
  @include bp-min(xxl) {
    font-size: 18px;
    line-height: 1.4;
  }
}

.link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: $black;
  &:hover {
    color: $orange;
  }
}
