@import '@/styles/helpers/vars';
.advantages {
  background-color: $white;
  &__container {
    display: grid;
    align-items: center;
    gap: 24px;
    padding-top: 48px;
    padding-bottom: 48px;

    @include bp-min(md) {
      gap: 36px;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @include bp-min(xl) {
      padding-top: 120px;
      padding-bottom: 120px;
      grid-template-columns: 1fr 630px;
    }
    @include bp-min(xxl) {
      grid-template-columns: minmax(630px,1fr) minmax(630px,1fr);
    }
    @include bp-min(xxxl) {
      gap: 60px;
    }
    h2 {
      span {
        display: inline-block;
        position: relative;
        z-index: 1;
        margin-inline: .15em;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: -.3em;
          right: -.3em;
          border-radius: .8em;
          z-index: -1;
          background-color: $yellow2;
        }
      }
    }
  }
}

.img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  @include bp-max(xs) {
    aspect-ratio: 1.25;
  }
  @include bp-min(xs) {
    aspect-ratio: 1.4;
  }
  @include bp-min(md) {
    height: 500px;
  }
  @include bp-min(xl) {
    height: 400px;
  }
  @include bp-min(xxl) {
    height: 500px;
  }
  @include bp-min(xxxl) {
    height: 600px;
  }
}

.video {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  @include bp-max(xs) {
    aspect-ratio: 1.25;
  }
  @include bp-min(xs) {
    aspect-ratio: 16 / 9;
  }
  @include bp-min(xl) {
    height: 400px;
  }
  @include bp-min(xxl) {
    height: 500px;
  }
  @include bp-min(xxxl) {
    height: 600px;
  }
}