@import '@/styles/helpers/vars.scss';

.section {
  display: flex;
  flex-direction: column;
  gap: 36px;
  position: relative;
  background-color: $light;

  @include bp-max(md) {
    padding: 48px 16px;
  }

  @include bp-min(md) {
    padding: 60px 36px 48px;
  }
  @include bp-min(xl) {
    padding: 120px 36px 80px;
  }
  @include bp-min(xxl) {
    padding: 120px 36px 120px;
  }
}

.list {
  display: grid;
  grid-auto-rows: 397px;
  gap: 16px;

  @include bp-min(md) {
    grid-auto-rows: 400px;
  }
  @include bp-min(md) {
    grid-auto-rows: 500px;
    grid-template-columns: 1fr 1fr;
  }

  @include bp-min(xl) {
    grid-auto-rows: 600px;
    grid-template-columns: 608px 1fr 608px;
  }

  @include bp-min(xxl) {
    grid-auto-rows: 900px;
  }
}

.item {
  border-radius: 20px;
  @include bp-min(xl) {
    &:nth-child(4n + 2) {
      grid-column: span 2;
    }
    &:nth-child(4n + 3) {
      grid-column: span 2;
    }
  }
  &.big {
    @include bp-min(md) {
      grid-column: span 2;
    }
    @include bp-min(xl) {
      grid-column: span 3;
    }
  }
  &.after-big {
    @include bp-min(xl) {
      &:nth-child(4n + 2) {
        grid-column: span 2;
      }
      &:nth-child(4n + 3) {
       grid-column: span 1;
     }
    }
  }
}

.btnGroup {
  display: flex;
  align-items: center;
  gap: 24px;

  @include bp-min(md) {
    justify-content: flex-end;
    gap: 36px;
  }

  .btn {
    font-weight: 500;
    font-family: $secondaryFont;

    @include bp-max(md) {
      font-size: 18px;
    }
    @include bp-min(md) {
      font-size: 24px;
    }

    @include bp-min(xxxl) {
      font-size: 24px;
      line-height: 31px;
    }
  }
}

.dark {
  background-color: $black;
  .btn {
    color: $light;
    &::before, &::after {
      background-color: $light;
    }
  }
}
