@import '@/styles/helpers/vars';

.main {
  font-size: 16px;
  line-height: 1.4;
  @include bp-min(xl) {
    font-size: 18px;
  }
}

.small {
  font-size: 12px;
  line-height: 1.2;
}

.light {
  color: $light;
}

.dark {
  color: $black;
}

.gray {
  color: $gray-1;
}
